@import "./guideline";
@import "./mixin";

// 通用
* {
    @include all();
}
body.modal-open {
    padding-right: 0px !important;
    overflow-y: auto;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: $light-sky;
    overflow-x: hidden;
    position: relative;
    @include table();
    @include mobile-XS() {
        font-size: 0.875rem;
    }
    // 導覽列
    .minibar {
        @include minibar();
    }
    .navbar {
        @include navbar();
    }
    .container {
        max-width: 1920px;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: $margin-XS/1.5;
        @include form();
        @include mobile-L {
            border: none;
            padding: $margin-XS;
        }
        h2 {
            margin-bottom: $margin-S;
            word-wrap: break-word;
            word-break: break-all;
            @include mobile-L {
                padding: 8px;
                margin-bottom: $margin-XS;
            }
        }
        .card {
            height: auto;
            border: solid 6px $light-sky;
            border-radius: 0;
            padding: $padding-XS/1.5;
            @include mobile-L {
                border: none;
                margin-bottom: $margin-XS;
            }
            .total-num-gp {
                height: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;
                flex-wrap: wrap;
                justify-content: start;
                @include web-S {
                    flex-direction: row;
                }
                @include pad {
                    flex-direction: row;
                }
                @include mobile-L {
                    flex-direction: column;
                }
                p {
                    margin-bottom: $margin-XS * 1.5;
                }
                .num {
                    width: 100%;
                    &:not(:last-child) {
                        margin-bottom: $margin-XS * 1.5;
                    }
                    @include web-S {
                        width: 25%;
                        padding: 0 10px;
                        &:not(:last-child) {
                            margin-bottom: 0;
                        }
                    }
                    @include mobile-L {
                        width: 100%;
                        &:not(:last-child) {
                            margin-bottom: $margin-XS * 1.5;
                        }
                    }
                    .num-title,
                    .num-content {
                        padding: $padding-XXS/2 $padding-XXS/2;
                        margin-bottom: 0;
                    }
                    .num-title {
                        background-color: $middle-blue;
                        color: $title-W;
                        font-size: bold;
                    }
                    .num-content {
                        background-color: $title-W;
                        border: solid 1px $middle-blue;
                        color: $gray-60;
                    }
                }
            }
            .info-table {
                margin: $margin-XS 0;
                text-align: center;
                th {
                    width: 17.5%;
                }
                th:first-child {
                    width: 30%;
                }
            }
            .tab {
                margin-top: $margin-S;
                select {
                    @include web-S {
                        width: 50%;
                    }
                    @include pad {
                        width: 100%;
                    }
                }
            }
            .chart-gp {
                height: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                @include mobile-L {
                    flex-direction: column;
                }
                .doughnut {
                    display: flex;
                    flex-direction: column;
                    width: 25%;
                    @include mobile-L {
                        width: 100% !important;
                        margin-bottom: $margin-S;
                    }

                    .doughunt-canvas {
                        max-height: 250px !important;
                        @include web-XL {
                            max-height: 210px !important;
                        }
                        @include web-L {
                            max-height: 180px !important;
                        }
                        @include web-S {
                            max-height: 220px !important;
                        }
                        @include pad {
                            max-height: 170px !important;
                        }
                        @include mobile-L {
                            max-height: 270px !important;
                        }
                        @include mobile-XS {
                            max-height: 250px !important;
                        }
                    }
                }
                .chart {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .chart-canvas {
                        height: 80%;
                        max-height: 220px;
                        width: 450px;
                        @include web-L {
                            width: 450px;
                            max-height: 200px;
                        }
                        @include pad {
                            width: 300px;
                            max-height: 180px;
                        }
                        @include mobile-L {
                            max-width: none;
                            width: 100%;
                            max-height: 200px;
                        }
                        @include mobile-XS {
                            width: 250px;
                            max-height: 180px;
                        }
                    }
                    .chart-canvas.w50 {
                        height: 100%;
                        max-height: 300px;
                        width: 680px;
                        @include web-XL {
                            width: 600px;
                            max-height: 270px;
                        }
                        @include web-L {
                            width: 550px;
                            max-height: 280px;
                        }
                        @include web-S {
                            width: 700px;
                        }
                        @include pad {
                            width: 650px;
                        }
                        @include mobile-L {
                            width: 300px;
                        }
                        @include mobile-XS {
                            width: 250px;
                            max-height: 270px;
                        }
                    }
                    .chart-canvas.w65 {
                        height: 100%;
                        max-height: 380px;
                        width: 900px;
                        @include web-XL {
                            width: 800px;
                            max-height: 270px;
                        }
                        @include web-L {
                            width: 750px;
                            max-height: 290px;
                        }
                        @include web-S {
                            max-height: 320px;
                        }
                        @include pad {
                            width: 650px;
                        }
                        @include mobile-L {
                            width: 300px;
                            max-height: 400px;
                        }
                        @include mobile-XS {
                            width: 260px;
                            max-height: 350px;
                        }
                    }
                    .chart-canvas.w35 {
                        height: 100%;
                        max-height: 250px;
                        width: 750px;
                        @include web-XL {
                            width: 800px;
                            max-height: 270px;
                        }
                        @include web-L {
                            width: 750px;
                            max-height: 290px;
                        }
                        @include web-S {
                            max-height: 320px;
                        }
                        @include pad {
                            width: 650px;
                        }
                        @include mobile-L {
                            width: 300px;
                            max-height: 220px;
                            margin-top: $margin-XS;
                        }
                    }
                }
            }
            .remark {
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: $margin-S;
                .text-gp {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    &:not(:last-child) {
                        margin-right: $margin-S/1.5;
                    }
                    .square {
                        width: 15px;
                        height: 15px;
                        line-height: 2;
                        margin-right: $margin-XS/2;
                    }
                    .blue {
                        background-color: #5eb5ef;
                    }
                    .yellow {
                        background-color: #ffd778;
                    }
                    .green {
                        background-color: #6fcdcd;
                    }
                    .orange {
                        background-color: #ffb266;
                    }
                    .purple {
                        background-color: #ad85ff;
                    }
                    p {
                        color: $text;
                        font-size: $size-p;
                    }
                }
            }
            .knob-gp {
                height: 100%;
                display: none;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                flex-direction: row;
                transition: 0.7s;
                @include web-XL {
                    justify-content: space-around;
                }
                @include web-S {
                    justify-content: center;
                }
                .knob {
                    display: block;
                    justify-content: center;
                    margin: $margin-XS $margin-XS * 1.5;
                    @include web-XL {
                        margin: 0;
                    }
                    @include web-S {
                        margin: $margin-XS $margin-XS * 1.5;
                    }
                    p {
                        margin-bottom: $margin-XS;
                        text-align: center;
                    }
                }
            }
            .active:not(a.active) {
                display: flex !important;
            }
            select {
                width: 30%;
                margin-bottom: $margin-XS * 1.5;
                @include web-S {
                    width: 20%;
                }
                @include pad {
                    margin-bottom: $margin-XS;
                }
                @include mobile-L {
                    width: 100%;
                }
            }
            .map {
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .explain {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: $margin-S;
                .title {
                    margin: 0;
                    font-size: $size-p;
                    font-weight: bold;
                    color: $title-BK;
                }
                table {
                    margin-bottom: $margin-XS;
                }
            }
            .filter {
                margin-bottom: $margin-S;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding: 0;
                @include web-S {
                    margin-bottom: $margin-XS;
                }
                label {
                    line-height: 1.5;
                    font-weight: bold;
                    font-size: $size-p;
                    color: $blue;
                    margin: 0;
                    margin-right: $margin-XS;
                    @include web-S {
                        margin-bottom: 16px;
                    }
                    @include mobile-L {
                        margin-bottom: $margin-XS;
                        margin-right: 0;
                    }
                }
                select {
                    width: 11%;
                    height: 32px;
                    margin: 0;
                    &:not(:last-child) {
                        margin-right: $margin-S;
                        @include mobile-L {
                            margin-right: 0;
                        }
                    }
                    @include web-L {
                        width: 10%;
                    }
                    @include web-S {
                        width: 23%;
                        margin-bottom: 16px;
                    }
                    @include pad {
                        width: 19%;
                    }
                    @include mobile-L {
                        width: 100%;
                        height: 40px;
                    }
                }
                input {
                    width: 11%;
                    height: unset;
                    height: 32px;
                    border-radius: 5px;
                    border: solid 1px #ccc;
                    margin: 0;
                    margin-right: $margin-XS;
                    @include web-L {
                        width: 10%;
                    }
                    @include web-S {
                        width: 23%;
                        margin-bottom: 16px;
                    }
                    @include pad {
                        width: 19%;
                    }
                    @include mobile-L {
                        width: 100%;
                        height: 40px;
                        margin-bottom: $margin-XS * 1.5;
                        margin-right: 0;
                    }
                }
                button {
                    height: 32px;
                    padding: $padding-XXS/4 $padding-XXS;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-right: $margin-XS;
                    font-size: $size-p;
                    @include web-S {
                        padding: $padding-XXS/4 18px;
                        margin-bottom: 16px;
                    }
                    @include mobile-L {
                        width: 100%;
                        height: 38px;
                        margin-bottom: $margin-XS * 1.5;
                        margin-right: 0;
                    }
                }
            }
            .custom-switch {
                margin-bottom: $margin-XS;
                @include mobile-L {
                    margin-bottom: $margin-S;
                    .custom-control-label {
                        padding-left: 1.25rem;
                        padding-top: 0.25rem;
                    }

                    .custom-control-label::before {
                        height: 1.5rem;
                        width: calc(2rem + 0.75rem);
                        border-radius: 3rem;
                    }

                    .custom-control-label::after {
                        width: calc(1.5rem - 4px);
                        height: calc(1.5rem - 4px);
                        border-radius: calc(2rem - (1.5rem / 2));
                    }

                    .custom-control-input:checked ~ .custom-control-label::after {
                        transform: translateX(calc(1.5rem - 0.25rem));
                    }
                }
                label {
                    line-height: 1.5;
                    font-weight: bold;
                    font-size: $size-p;
                    color: $blue;
                    margin: 0;
                    margin-right: $margin-XS;
                    @include web-S {
                        margin-bottom: 16px;
                    }
                    @include mobile-L {
                        margin-right: 0;
                        margin-bottom: 0;
                        line-height: unset;
                    }
                }
                .custom-control-input:checked ~ .custom-control-label::before {
                    border-color: $blue;
                    background-color: $blue;
                }
            }
            .title-select {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: row;
                margin-bottom: $margin-S;
                @include mobile-L {
                    flex-wrap: wrap;
                }
                .left {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 20%;
                    @include web-L {
                        width: 30%;
                    }
                    @include web-S {
                        width: 20%;
                    }
                    @include mobile-L {
                        width: 100%;
                        margin-bottom: $margin-XS;
                        justify-content: center;
                        flex-wrap: wrap;
                    }
                    h4 {
                        margin-bottom: 0;
                        margin-right: $margin-XS;
                        @include mobile-L {
                            text-align: center !important;
                        }
                    }
                    .icon {
                        @include mobile-L {
                            width: 100%;
                        }
                        img {
                            width: 25px;
                            height: 25px;
                            margin-right: $margin-XS;
                            @include mobile-L {
                                width: 25px;
                                height: 25px;
                                margin-right: $margin-XS;
                            }
                        }
                    }
                }
                .right {
                    width: calc(80% - 10px);
                    display: flex;
                    justify-content: center;
                    @include web-L {
                        width: 70%;
                    }
                    @include web-S {
                        width: calc(80% - 10px);
                    }
                    @include mobile-L {
                        width: 100%;
                        justify-content: flex-start !important;
                    }
                    select {
                        width: calc(80% - 10px);
                        margin-bottom: 0;
                        @include mobile-L {
                            width: 100%;
                        }
                    }
                    .icon {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        text-align: center;
                        margin-left: $margin-XS;
                        @include mobile-L {
                            margin: 0;
                        }
                        a {
                            padding: 2px $padding-XXS/1.5;
                            img {
                                width: 25px;
                                height: 25px;
                                @include mobile-L {
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                    }
                }
                .right.w-25 {
                    @include mobile-L {
                        width: 100% !important;
                    }
                }
                .right.ml-5 {
                    @include mobile-L {
                        margin: 0 !important;
                    }
                }
                .icon {
                    .back,
                    .next {
                        width: 30px !important;
                        height: 30px !important;
                        @include mobile-L {
                            width: 35px !important;
                            height: 35px !important;
                        }
                    }
                    .back {
                        @include mobile-L {
                            margin-right: 10px !important;
                        }
                    }
                }
            }
        }
        .correlation-img {
            width: 100%;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
                max-width: 1100px;
                object-fit: contain;
                @include web-XL {
                    max-width: 1000px;
                }
                @include web-S {
                    max-width: unset;
                    padding: 0 $padding-XXS;
                }
            }
        }
        .color-gp {
            display: flex;
            flex-wrap: wrap;
            // padding: 12px 24px;
            padding: 32px;
            @include web-XL {
                padding: 12px 24px;
            }
            @include pad {
                padding: 12px;
            }
            @include mobile-L {
                padding: 0;
            }
            .block {
                width: 50%;
                border: solid 1px white;
                display: flex;
                flex-direction: column;
                @include mobile-L {
                    width: 100%;
                }
                .block-header {
                    padding: 6px 12px;
                    font-weight: bold;
                    font-size: $size-h4;
                    line-height: 1.5;
                    color: white;
                }
                .block-body {
                    padding: 12px 12px 24px 12px;
                    display: flex;
                    align-items: stretch;
                    flex-direction: column;
                    height: 100%;
                    p {
                        line-height: 1.75;
                    }
                    ul {
                        padding: 0;
                        color: $text;
                        line-height: 1.75;
                        li {
                            list-style-position: inside;
                            line-height: 1.75;
                        }
                    }
                }
                &:nth-child(1) {
                    .block-header {
                        background-color: #6fcda6;
                    }
                    .block-body {
                        background-color: #effffc;
                    }
                }
                &:nth-child(2) {
                    .block-header {
                        background-color: #ffb266;
                    }
                    .block-body {
                        background-color: #fffef2;
                    }
                }
                &:nth-child(3) {
                    .block-header {
                        background-color: #37afff;
                    }
                    .block-body {
                        background-color: #e8f6ff;
                    }
                }
                &:nth-child(4) {
                    .block-header {
                        background-color: #ff867e;
                    }
                    .block-body {
                        background-color: #ffefee;
                        padding: 24px;
                        @include mobile-L {
                            padding: 16px;
                        }
                    }
                }
                table,
                th,
                td {
                    border: 2px solid white;
                }
                tr {
                    &:nth-child(even) {
                        background-color: rgba($color: white, $alpha: 0.5);
                    }
                    th {
                        background-color: rgba($color: white, $alpha: 0.8);
                    }
                }
            }
        }
    }
    .container.index {
        @include mobile-L {
            padding-top: 70px;
        }
    }
}
